.search-page {
  text-align: center;
  margin-top: 20%;
}

.search-page-form {
  text-align: left;
  border: 1px solid #999;
  width: 550px;
  max-width: 95%;
  vertical-align: middle;
  white-space: nowrap;
  margin: 10px auto 0 auto;
  border-radius: 3px;
  align-self: center;
}
.search-page-form input {
  text-transform: capitalize;
  position: relative;
  line-height: 20px;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  color: #7c6a59;
  margin: 0 !important;
  -webkit-appearance: none !important;
  border-radius: 3px;
  border: none !important;
  font-size: 16px;
  padding: 0.7em 1em;
}
.search-page-form button {
  margin-left: -55px;
  z-index: 1;
  position: relative;
  margin-top: 9px;
  background-color: #fff;
  color: #A0A09F;
  width: 50px;
  border: none;
  flex-grow: 1;
  cursor: pointer;
  padding: 3px 0;
  font: inherit;
  vertical-align: top;
  text-align: center;
  display: inline-block;
}
.twitter-typeahead{
  width: 100%;
}
.tt-menu {
  font-family: 'Lato', sans-serif;
  border: 1px solid #7c6a59;
  margin-top: 3px;
  border-radius:3px;
  background-color: #ffffff;
  width: 100%;
}
.tt-cursor {
  background-color: #faf6ef;
}
/*.tt-dataset{
  padding: 0.7em 1em;
}*/
.search-page-categories {
  cursor: pointer;
  margin-top: 20px;
  font-weight: 300;
}
.tt-search-type {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 5px;
  margin-right: 6px;
  font-weight: 300;
}
.tt-selectable{
  padding: 3px;
  position: relative;
}
.tt-entry {
  padding: 4px 10px;
}
.tt-search-name {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.nav-form {
  margin-top: -1px;
}
.nav-form input{
  line-height: 0;
  height: 30px;
  padding: 0;
  padding-top: 1px;
  padding-left: 15px;
  font-size: 14px;
}
.nav-form button{
  height: 20px;
  margin-top: 4px;
}
